<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <typeAliases>
        <package name="com.yangzehan.domaim"/>
        <package name="com.yangzehan.workbench.domain"/>
    </typeAliases>


    <mappers>
        <package name="com.yangzehan.dao"/>
        <package name="com.yangzehan.workbench.dao"/>
    </mappers>

</configuration>